[submodule "sensible"]
	path = sensible
	url = https://github.com/keithy/sensible.git
[submodule "picoclaw"]
	path = picoclaw
	url = https://github.com/keithy/picoclaw.git
[submodule "goclaw"]
	path = goclaw
	url = https://github.com/keithy/goclaw.git
[submodule "nickel-compose"]
	path = nickel-compose
	url = https://github.com/keithy/nickel-compose.git
